<!DOCTYPE html>
<html lang="{{ current_language|default('en') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations.thank_you.thank_you_title | default('Survey Submission') }}</title>
    <link rel="stylesheet" href="{{ asset_url('css/style.css') }}">
</head>
<body data-page="thank_you" data-assets-prefix="{{ assets_prefix }}">

    <div class="thank-you-page-container">
        <!-- White card box -->
        <div class="thank-you-box">
            <div class="tick-icon">✔</div>
            <h1 id="thank-you-title">{{ translations.thank_you.thank_you_title | default('Thank you for submitting your survey!') }}</h1>
            <p id="thank-you-message">{{ translations.thank_you.thank_you_message | default('Your responses have been recorded. We appreciate your time and effort in helping us with this research.') }}</p>
        </div>
    </div>

    <script src="{{ asset_url('js/language.js') }}"></script>
</body>
</html>
